@import "tailwindcss";

body {
  background-color: #000; /* Bright grey for visibility */
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  background-color: #000; /* More visible blue-grey */
  perspective: 1500px; /* Perspective on parent */
}
.slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 35%; /* Adjusted top */
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  animation: autoRun 30s linear infinite;
}
.banner .slider .item {
  position: absolute;
  inset: 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(450px);
  background: #000;
  transition: all 0.5s ease;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 4px 5px rgba(132, 130, 130, 0.5);
}
.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
@keyframes autoRun {
  from {
    transform: rotateX(14deg) rotateY(0deg);
  }
  to {
    transform: rotateX(14deg) rotateY(360deg);
  }
}
.slider:hover {
  animation-play-state: paused;
}
.slider .item:hover {
  filter: brightness(1.2);
  box-shadow:
    0 0 20px #fff,
    0 0 40px #6c63ff;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(420px) scale(1.2);
}
